body {
    padding-top: 20px;
}

ul.market-ticker {
    list-style: none;
    padding: 0;
    text-align: center;
    b {
        padding: 3px;
        background: #f8f8f8;
        border-right: 1px solid #e6e6e6;
        margin-right: 5px;
    }
    span.positive {
        color: #339349;
    }

    span.negative {
        color: #a42015;
    }

    > li {
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        margin: 0 .25rem;
        padding-right: .5rem;
    }
}

table caption {
    text-transform: uppercase;
    text-align: center;
    background: #f3f3f3;

    &.buy {
        background: #c2dfc9;
    }

    &.sell {
        background: #e4bdb9;
    }
}
